{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nombre_usuario</th>
                <td>{{ usuario.nombreusuario }}</td>
            </tr>
            <tr>
                <th>Fecha_creacion</th>
                <td>{% if usuario.fechacreacion %}{{ usuario.fechacreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha_modificacion</th>
                <td>{% if usuario.fechamodificacion %}{{ usuario.fechamodificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}" class="btn btn-info" role="button">Volver a la lista</a>
        </li>
        <li>
            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" class="btn btn-dark" role="button" >Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger" role="button">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
