{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edicion de Perfil</h1>

    {{ form_start(edit_form) }}

    <ul>
        <li>
            {{ form_widget(edit_form) }}
            <input type="submit" value="Editar" class="btn btn-success" role="button">
            {{ form_end(edit_form) }}
        </li>
        <li>
            <a href="{{ path('perfil_index') }}" class="btn btn-info" role="button" >Volver a la lista</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar " class="btn btn-danger" role="button">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
